<!DOCTYPE html>
<html lang="en">

<head>
    <h1>Shortest Picking Route</h1>
</head>

<body>
    <div> 
    <form action="/" method="POST">
        <input type="file" name="file" ref="file" id="file" accept=".csv"/>
        <button type="submit">upload</button>
    </form>
    </div>

</body>

</html>