<!DOCTYPE html>
<html lang="en">

<head>
    <h1>Shortest Picking Route</h1>
</head>

<body>
    <div> 

    <form action="/route" method="POST">
        <input type="text" id="route" name="route" placeholder="e.g. AB ">
        <button type="submit">submit</button>
    </form>

    </div>
</body>

</html>